*html {
  margin: 0%;
}

body {
  background-image: url('/src/css/backgroundIMG.jpg'); /* photo by Lukas Blazek on https://unsplash.com/photos/f-TWhXOrLiU */
  background-size: cover;
  background-repeat: repeat;
  height: 100vh;
  /* max-zoom: 50%; */
  
}

.App {
  text-align: center;
}

/* Reister form CSS */
.register-form {
  padding: 0px 330px 0px 330px;
  font-size: 25px;
  font-weight: bolder;
  color: darkgreen;
  text-shadow: 2px 2px 2px whitesmoke;
  font-family: copperplate;
  
}

.register-container {
  font-weight: bolder;
  color: rgb(152, 0, 0);
  text-shadow: 2px 2px 2px whitesmoke;
  font-family: copperplate;
}

button.btn-block{ 
  background: #4da1ab;
  border: 5px solid white;
  border-radius: 8px;
  padding: 10px 20px;
  color: whitesmoke;
  font-family: copperplate; 
  font-size: 25px;
  margin: 0 0 0 10px;
}

button.btn-block:hover {
  background-color: lightsalmon ;
}

/* Header CSS */
.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  font-weight: bold;
  text-shadow: 2px 2px 2px whitesmoke;
  font-family: copperplate;
  padding: 20px;
}

.title {
  font-size: 75px;
  color: darkgreen;
  text-shadow: 3px 3px 3px whitesmoke;
}

/* Nav Link CSS */
a.nav-link {
  text-decoration: none;
  padding: 5px;
  font-size: 30px;
}

a.nav-link:hover {
  color: rgb(156, 12, 12);
  text-shadow: 3px 3px 3px gray;
}

/* Form CSS */
.form-group {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  
}

input {
  box-shadow: 0px 15px 10px rgb(63, 60, 60);
}

label {
  padding-top: 10px;
}

/* Dashboard CSS */
.dashboard-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  margin: 20px;
}

 .dashboard-list{
  align-self: flex-start;
  min-width: 40vw;
  
}

.dashboard-container {
  margin: 5%;
    
}
/*.dashboard-recipie {
  align-self: flex-end;
  width: 40vw;
} */

/* CSS Grocery List */
.fixed-list-container {
  -webkit-position: -webkit-sticky;
  position: sticky;
  top: 5%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 10px;
}

/* Recipe CSS */
.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar {
  width: 50%;
  border:none;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 15px 10px rgb(63, 60, 60);
  font-family: copperplate;
}
.search-button { 
  background: #4da1ab;
  border: 5px solid whitesmoke;
  border-radius: 8px;
  padding: 10px 20px;
  color: whitesmoke;
  font-family: 'fantasy', copperplate; 
  font-size: larger;
  margin: 0 0 0 10px;
}
.search-button:hover {
  background-color: lightsalmon ;
}

button.submitButton { 
  background: #4da1ab;
  border: 5px solid whitesmoke;
  border-radius: 8px;
  padding: 10px 20px;
  color: white;
  font-family: copperplate; 
  font-size: larger;
  margin: 0 0 0 10px;
}

button.submitButton:hover {
  background-color: lightsalmon ;
}

.form-control {
  font-family: copperplate; 
}

/* CSS Loading Spinner */
span.sr-only {
  color: #4da1ab;
  font-size: 35px;
  font-weight: bolder;
  padding: 30px;
}

div.spinner-border {
  color: lightsalmon;
  width: 100px;
  height: 100px;
  animation-duration: 1000ms;
  padding: 10px;
  
}

.spinner-container {
  padding-bottom: 400px;
}