.recipe{
    border-radius: 10px;
    box-shadow: 10px 10px 25px #1b1a1a;
    margin: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: url('/src/css/secondRecipeBackground.jpg'); /* Photo by Brett Jordan on Unsplash */
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    min-width: 20vh;
    color: whitesmoke;
    text-shadow: 2px 2px 2px black;
    font-size: 18px;
    font-family: copperplate;  
        
}
  
.image{
    border-radius: 10px;
    margin:0px 0px 20px 0px;
    box-shadow: 10px 10px 25px #1b1a1a;
}
