.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* CSS for recipe searchbar */
.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar{
  width: 50%;
  border:none;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 15px 10px rgb(63, 60, 60);
}
.search-button{
  background: #4da1ab;
  border: 5px solid white;
  border-radius: 8px;
  padding: 10px 20px;
  color: white;
  font-family: 'fantasy', copperplate; 
  font-size: larger;
  margin: 0 0 0 10px;
}
.search-button:hover {
  background-color: lightsalmon ;
}
.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* CSS for Navbar */
nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #4da1ab;
}

nav li {float: left;}

nav li a {
  display: block;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 10px 100px;
  text-decoration: none;
}

nav li a:hover {color: lightsalmon;}

@media screen and (max-width: 600px) {
    nav li {float: left;}
}

/* CSS for Grocery List */
.app-background {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.main-container {
  background-color: lightsalmon;
  width: 500px;
  height: min-content;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 15px 10px rgb(63, 60, 60);
}

.title {
  text-align: center;
}

.add-item-box {
  background: white;
  color: #4da1ab;
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 5px;
}

.add-item-box svg {
  margin: 5px;
}

.add-item-input {
  box-sizing: border-box;
  border: none;
  background: transparent;
  color: black;
  font-weight: bold;
  width: 100%;
  height: 30px;
}

input::placeholder {
  color: black;
  font-weight: bold;
}
input:focus {
  outline: 0;
}

.item-list {
  display: flex;
  flex-direction: column;
  color: #4da1ab;
  font-weight: bolder;
}

.item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 20px 0;
  border-bottom: 1px #4da1ab solid;
}

.item-name {
  cursor: pointer;
}

.item-name svg {
  margin-left: 5px;
  margin-right: 5px;
}

.item-action-buttons {
  /* width: 30%; */
  display: flex;
  justify-content: space-between;
}

.remove-button {
  color: white;
  background-color: #4da1ab;
}

.total {
  float: right;
  padding: 10px;
}

.quantity {
  display: flex;
  align-items: center;
  border: 1px solid #4da1ab;
  background: white;
  border-radius: 50px;
  font-size: 12px;
  color: #4da1ab;
  min-width: 70px;
  justify-content: space-between;
}

button {
  background: transparent;
  border: none;
  margin: 3px;
  color: #4da1ab;
}
button:focus {
  outline: 0;
}

button:hover {
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
}

