.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* CSS for recipe searchbar */
.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar{
  width: 50%;
  border:none;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 15px 10px rgb(63, 60, 60);
}
.search-button{
  background: #4da1ab;
  border: 5px solid white;
  border-radius: 8px;
  padding: 10px 20px;
  color: white;
  font-family: 'fantasy', copperplate; 
  font-size: larger;
  margin: 0 0 0 10px;
}
.search-button:hover {
  background-color: lightsalmon ;
}
.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* CSS for Navbar */
nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #4da1ab;
}

nav li {float: left;}

nav li a {
  display: block;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 10px 100px;
  text-decoration: none;
}

nav li a:hover {color: lightsalmon;}

@media screen and (max-width: 600px) {
    nav li {float: left;}
}

/* CSS for Grocery List */
.listApp {
  padding: 30px;
  background-color: floralwhite;
}

.itemList {
  align-items: center;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
}

